*.DS_Store
.vscode
/NEMSGuaranteedSubscriber/.idea
/NEMSGuaranteedSubscriber/target
/NEMSGuaranteedSubscriber/.vscode
### Creds
NEMSGuaranteedSubscriber/src/main/resources/application.properties
NEMSGuaranteedSubscriber-dotNET/source/properties.json
NEMSGuaranteedSubscriber-dotNET/source/bin
NEMSGuaranteedSubscriber-dotNET/source/obj
